[Unit]
Description=Traefik Proxy
After=network-online.target

[Container]
Image=docker.io/library/traefik:v3.6.14
ContainerName=traefik
PublishPort=80:80

Exec=--providers.docker=true \
     --entrypoints.web.address=:80 \
     --providers.docker.endpoint=unix:///var/run/docker.sock

# Volumes
Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro

# Networks
Network=traefik.network

[Install]
WantedBy=default.target
