[Unit]
Description=Open WebUI - The best frontend for local AI
After=network-online.target

[Container]
Image=ghcr.io/open-webui/open-webui:main
ContainerName=open-webui
PublishPort=8080:8080

# Environment
Environment=OLLAMA_BASE_URL=http://ollama:11434
Environment=OPENAI_API_KEY=unused

#Volumes
Volume=open-webui-data.volume:/app/backend/data

# Networks
Network=llama.network
Network=searxng.network

[Service]
Restart=always

[Install]
WantedBy=default.target
