[Unit]
Description=Fox
After=network-online.target

[Container]
# We use the official image (check their latest tag)
Image=docker.io/ferrumox/fox:latest
ContainerName=fox
PublishPort=8000:8000

AddDevice=nvidia.com/gpu=all
Annotation=run.oci.keep_original_groups=1

# Environment
Environment=NVIDIA_DRIVER_CAPABILITIES=all
Environment=NVIDIA_VISIBLE_DEVICES=all
Environment=FOX_PORT=8000

#Volumes
Volume=fox.volume:/root/.cache/ferrumox/models:Z

# Networks
Network=fox-network.network

[Service]
# Restart the container if it fails
Restart=always

[Install]
# Start this container when the user logs in
WantedBy=default.target
