[Unit]
Description=Hermes
After=network-online.target

[Container]
Image=docker.io/nousresearch/hermes-agent
ContainerName=hermes

# This maps your host UID (1000) to the same UID inside the container
#UserNS=keep-id:uid=110000,gid=110000

PublishPort=8642:8642
PublishPort=9119:9119

# Environment
Environment=HERMES_DASHBOARD=1
Environment=HERMES_DASHBOARD_TUI=1

#Volumes
Volume=%h/.config/hermes:/opt/data:Z

# Networks
Network=ollama.network
Network=searxng.network
Network=traefik.network

# Command
Exec=gateway run

# Labels
Label=traefik.http.routers.hermes.rule=Host(`hermes.localhost`)
Label=traefik.http.services.hermes.loadbalancer.server.port=9119

[Service]
Restart=always

[Install]
WantedBy=default.target

