[Unit]
Description=Hermes Gateway
After=network-online.target

[Container]
Image=docker.io/nousresearch/hermes-agent
ContainerName=hermes-agent

# Environment
Environment=HERMES_UID=10000
Environment=HERMES_GID=10000

#Volumes
Volume=%h/.config/hermes:/opt/data

# Networks
Network=ollama.network

# Command
Exec=gatweay run

[Service]
Restart=always

[Install]
WantedBy=default.target
